#items {
    display: flex;
    flex-direction: column;
    background: #212121;
    border-top: 1px solid #f5f5f5;
    margin-top: 500px;
    color: white;
}

._1ZMrY_ {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 50px 0;
    -webkit-column-gap: 10px;
    column-gap: 20px;
}

._3I5N7v {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}

.HlWMPX {
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    font-weight: bold;
}

.MkhHNl.btl4ck {
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}

.MkhHNl {
    font-size: 12px;
    white-space: nowrap;
}

.MkhHNl p {
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}

._3I5N7v {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}

._31kgzK {
    display: flex;
    align-items: center;
}

._2l3nc- {
    margin-right: 16px;
}

._1HSe4t {
    border-top: 1px solid #454d5e;
    padding: 10px 0;
    margin-top: 40px;
    width: 100%;
    display: flex
;
    justify-content: space-evenly;
    align-items: center;
}

.c4gehN {
    display: flex
;
    align-items: center;
}

.c4gehN a, .pCGSTE {
    color: #fff;
}